nav {
  width: 100vh;
  height: 5rem;
  position: fixed;
  z-index: 10;
  display: grid;
  box-shadow: 0 1rem 1rem rgba($black-color, 0.1);
  place-items: center;
  @include gradientBackground;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    gap: 3rem;
    align-items: center;
  }

  // only needed in medium and small devices
  button {
    display: none;
  }

  a {
    color: $white-color;
    font-weight: 400;
    font-size: 0.9rem;
  }

  .nav__logo h3 {
    color: $white-color;
  }
}
