.swiper {
  width: 100%;

  .swiper-wrapper {
    // brings swiper down
    margin-bottom: 4rem;
    display: flex;
    .swiper-slide {
      @include gradientBackground;
      width: 100%;
      padding: 1.5rem 2rem;
      border-radius: 1rem;
      cursor: default;
      font-size: 0.9rem;

      p {
        margin-bottom: 1.5rem;
      }

      .patient {
        display: flex;
        align-items: center;
        gap: 1rem;
        .avatar {
          width: 2.5rem;
          aspect-ratio: 1/1;
          border-radius: 50%;
          overflow: hidden;
        }
      }
    }
  }

  .swiper-pagination-bullet {
    background: $primary-color;
  }
}

// * ===================== MEDIA QUERIES (MEDIUM DEVICES) ================ *//
// @media screen and (max-width: 1024px) {
//   .container {
//     width: $container-md;
//   }

//   section {
//     & > p {
//       width: 55%;
//     }
//   }
// }

// * ===================== MEDIA QUERIES (SMALL DEVICES) ================ *//

@media screen and (max-width: 600px) {
  .swiper {
    .swiper-wrapper {
      .swiper-slide {
        padding: 1.5rem;
      }
    }
  }
}
